.center{
    justify-content: center;
    display: flex; 
    align-items: center; 
}
.primary{
    height: 50px;
    width: 150px;
    background-color: blue;
    color: white;
    position: relative;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 15px;
    font-size: large;
    border-radius: 5px;
}
.conTainer{
    display: flex;
    justify-content:space-around;
    position:relative;
    margin-top: 20px;
}


.imageContainer{
             height: 600px;
             width:800px ;
            justify-content: center;
            align-items: center;
            display: grid;
            position: relative;
}
  
  .imageContainer1{
    height: 600px;
    width:600px ;
    justify-content: center;
    align-items: center;
    display: grid;
}
.Container2{
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content:space-evenly;
    justify-content: center;
    align-items: center;

}
.imageContainer2{
    height: 600px;
    width:800px ;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;


}
.imageContainer3{
    height: 600px;
    width:800px ;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 20px;



}
.btn2{
    height: 30px;
    width:150px;
    position: relative;
    background-color: rgb(241, 237, 237);
    color: black;
    justify-content: center;
    align-items: center;
    margin-left: 150px;    
    }
    .btn2:hover{
    background-color: blue;
    color: white;
    }
    .Container3{
        position: relative;
        margin-top: 50px;
        display: flex;
        justify-content:space-evenly;
        justify-content: center;
        align-items: center;
    
    

    }
    



  
  