.backgroundImage {
  background-image: url('../assets/freepik__expand__39696.jpeg');
  background-size: cover;  
  background-position: center; 
  height: 80vh;  
  width: 100%;  
}
.textImg{
  position: absolute;
  background-color: transparent;
  height: 60vh;
  width: 100%;
  display: flex;
}
.text{
  position: absolute;
  margin-top: 150px;
  margin-left: 40px;
  color:rgb(255, 255, 255);
  align-items: left;
  float: left;
}
.para1{
  position: absolute;
  margin-top: 260px;
  margin-left: 40px;
  float: left;
  align-items: left;
}
.coloredWord{
  color: green;
}
.btn{
  position: absolute;
  margin-top: 350px;
  margin-left: 70px;
  background-color: rgb(71, 162, 71);
  height: 40px;
  width: 200px;
  border: none;
  cursor: pointer;
}
.btn:hover {
    background-color: rgb(46, 101, 46);
}

.btn:active {
    background-color: rgb(71, 162, 71);
}