.subHeading{
    font-weight: 500;
}
.testPage h1{
    text-align: center;
    font-weight: 400;
    margin: 10px 0 10px 0;
}
.testPage h3{
    text-align: center;
    font-weight: 500;
    margin: 10px 0 10px 0;
}
.aboutSection{
    width: 50%;
    
}
.questionType li {
    text-align: left;
    margin-left: 32vw;
}
.buttonLink{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.buttonLink :Link{
    padding: 5px 50px;
    background-color: rgb(71, 162, 71);
    border-radius: 5px;
    text-decoration: none;
    color: white;
}