.why-choose-us{
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    padding: 60px 0;
}

.why-choose-us h2{
    font-size: 2.5rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.why-choose-us .card{
    border: none;
    border-radius: 10px;
    background-color: #ffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.why-choose-us .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.why-choose-us .card-body{
    padding: 25px;
}

.why-choose-us .card-body i {
    color: #007bff;
    font-size: 3.5rem;
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

.why-choose-us .card:hover i{
    color: #0056b3;
}

.why-choose-us .card-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #212529;
    margin-bottom: 15px;
}

.why-choose-us .card-text{
    font-size: 1rem;
    color: #6c757d;
    line-height: 1.5;
}


@media (max-width: 768px) {
    .why-choose-us h2 {
      font-size: 2rem;
    }
  
    .why-choose-us .card-body i {
      font-size: 3rem;
    }
  
    .why-choose-us .card-title {
      font-size: 1.1rem;
    }
  }