/* General Footer Styles */
.footer {
  background-color: #343a40;
  color: #ffffff;
}

.footer a {
  color: #adb5bd;
  transition: color 0.3s ease-in-out;
}

.footer a:hover {
  color: #ffffff;
  text-decoration: none;
}

.footer .fab {
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer .fab:hover {
  color: #007bff;
}

/* Footer Layout */
.footer .col-md-6 h5 {
  margin-bottom: 15px;
}

.footer .d-flex a {
  margin-right: 15px;
}

.footer .text-center {
  border-top: 1px solid #495057;
  padding-top: 15px;
  margin-top: 30px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .footer .row {
      text-align: center;
  }

  .footer .col-md-6 {
      margin-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .footer .row {
      justify-content: space-between;
  }
}
